label {
	font-weight: normal;
	display: flex;
	margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	display: block;
	width: 400px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-image: none;
	border: 2px solid #ccc;
	border-radius: 6px;
}

@media (max-width: 1086px) {
	.signupImg > img {
		margin-top: 2rem;
	}
}

input[type='file'] {
	display: none;
}
